

.main-header {
  height: 100vh;

  background-position: center center;
  background-size: cover;
}

.black {
  position: absolute;
  width: 100%;
  height: 200vh;

  background-color: rgba(0, 0, 0, 0.9);
}

.header-text {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  text-align: center

}

.header-title {
  margin-top: 0;
font-family: 'Roboto', sans-serif;

text-align: center;
  font-size: 5em;

}
.header-subtitle:hover, .header-subtitle:active{
  color: gray;
}

.header-subtitle {
    color: white;
  font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  transition:color .2s ease;
  margin-right: 1.4em;
  margin-left: 1em;
}
.fa-arrow-circle-o-down{
  position: absolute;
  color: white;
   transform: translateX(-24px);
  bottom: 1%;
}
.down_button{
    height: 100px;
  color: white;
  text-align: center;
  cursor: pointer;
}
.down_button:hover{
  color: gray;
}
.fa-arrow-circle-o-up{
  position: absolute;
  color: white;
   transform: translateX(-24px);
}
.up_button{
  height: 100px;
  color: white;
  text-align: center;
  cursor: pointer;
}
.up_button:hover{
  color: gray;
}
.main-projects {
  height: 1vh;

  background-position: center center;
  background-size: cover;
}

.project-subtitle {
  color: white;
  font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  transition:color .2s ease;

}
.project-space{
  height: 1vh;

  background-position: center center;
  background-size: cover;
}